@page "/"

<PageTitle>Dashboard Monitoring</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 FocOnNav">Dashboard Monitoring</h1>
</div>

<div class="row">
    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Notifications: 15M</p>
        </div>
        <div class="card-footer border-0">Notifications cleanup</div>
    </div>

    <div class="card text-bg-danger mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Cleanup Batch History Custom: 15M</p>
        </div>
        <div class="card-footer border-0">Cleanup Batch History Custom</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Database Cleanup: 735.6K</p>
        </div>
        <div class="card-footer border-0">Database Cleanup</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Notifications: 15M</p>
        </div>
        <div class="card-footer border-0">Notifications cleanup</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Cleanup Batch History Custom: 15M</p>
        </div>
        <div class="card-footer border-0">Cleanup Batch History Custom</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Database Cleanup: 735.6K</p>
        </div>
        <div class="card-footer border-0">Database Cleanup</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Notifications: 15M</p>
        </div>
        <div class="card-footer border-0">Notifications cleanup</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Cleanup Batch History Custom: 15M</p>
        </div>
        <div class="card-footer border-0">Cleanup Batch History Custom</div>
    </div>

    <div class="card text-bg-danger mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Database Cleanup: 735.6K</p>
        </div>
        <div class="card-footer border-0">Database Cleanup</div>
    </div>
</div>

