@page "/"
@using MobileMonitoring.Shared;

@inject HttpClient Http;

<PageTitle>Dashboard Monitoring</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 FocOnNav">Dashboard Monitoring</h1>
</div>

<div class="row">
    @if(tiles is null)
    {
        <div>
            <p>No data to show</p>
        </div>
    }
    else
    {
        @foreach(TileDto tile in tiles)
        {
            <div class="card text-bg-@tile.LimitKpiTile() mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
                <div class="card-body">
                    <p class="card-text">@tile.Number K</p>
                </div>
                <div class="card-footer border-0">@tile.Name</div>
            </div>
        }
        
    }
    
</div>

@code
{
    private IEnumerable<TileDto>? tiles = null;

    protected override async Task OnInitializedAsync()
    {
        tiles = await Http.GetFromJsonAsync<IEnumerable<TileDto>>("api/Tiles");
    }
}
