@page "/SalesAndMarketing"

<PageTitle>Sales and marketing</PageTitle>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 FocOnNav">Dashboard Monitoring</h1>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h2 class="h3">Sales and marketing</h2>
</div>

<div class="row">
    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Notifications: 15M</p>
        </div>
        <div class="card-footer border-0">Notifications cleanup</div>
    </div>

    <div class="card text-bg-danger mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Cleanup Batch History Custom: 15M</p>
        </div>
        <div class="card-footer border-0">Cleanup Batch History Custom</div>
    </div>

    <div class="card text-bg-primary mb-3 rounded-0 m-3" style="width: 12rem; height: 12rem;">
        <div class="card-body">
            <p class="card-text">KPI Database Cleanup: 735.6K</p>
        </div>
        <div class="card-footer border-0">Database Cleanup</div>
    </div>
</div>

<div class="table-group">
    <h3 class="h4">Notifications cleanup</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id User</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Company</th>
                    <th scope="col">Cleanup Date</th>
                    <th scope="col">Alert creation Date</th>
                    <th scope="col">Alerts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">987654</th>
                    <td>Claire Kennedy</td>
                    <td>DAT</td>
                    <td>18/03/2022</td>
                    <td>01/01/2019</td>
                    <td>Workflow</td>
                </tr>
                <tr>
                    <th scope="row">987321</th>
                    <td>Shannon Dascher</td>
                    <td>USMF</td>
                    <td>25/02/2022</td>
                    <td>17/11/2018</td>
                    <td>Alerts</td>
                </tr>
                <tr>
                    <th scope="row">654321</th>
                    <td>Kevin Cook</td>
                    <td>USRT</td>
                    <td>31/10/2021</td>
                    <td>21/07/2017</td>
                    <td>Alerts</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>