<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="/">Avanade</a>
<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-nav">
    <div class="nav-item text-nowrap">
        <AuthorizeView>
            <NotAuthorized>
                <NavLink class="nav-link px-3" href="/authentication/login">Sign in</NavLink>
            </NotAuthorized>
            <Authorized>
                <NavLink class="nav-link px-3" href="/authentication/logout">Sign out</NavLink>
            </Authorized>
        </AuthorizeView>

    </div>
</div>