<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 ">
    <div class="container-color-legend">
        <span class="color-legend normal bg-primary"></span><span>Normal Status</span>
        <span class="color-legend warning bg-danger"></span><span>Warning Status</span>
    </div>
</div>