<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <div class="px-3 mt-4 mb-1 text-muted text-uppercase">
            <NavLink class="nav-link" Match="NavLinkMatch.All" aria-current="page" href="/">
                <span data-feather="home" class="align-text-bottom"></span>
                Home
            </NavLink>
        </div>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Data Cleanup Monitoring</span>
        </h6>

        <ul class="nav flex-column">
            <li class="nav-item">
                <NavLink class="nav-link" href="/SystemAdministration">
                    <span data-feather="shield" class="align-text-bottom"></span>
                    System administration
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/GeneralLedger">
                    <span data-feather="book" class="align-text-bottom"></span>
                    General ledger
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/SalesAndMarketing">
                    <span data-feather="shopping-bag" class="align-text-bottom"></span>
                    Sales and marketing
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/ProcurementAndSourcing">
                    <span data-feather="package" class="align-text-bottom"></span>
                    Procurement and sourcing
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/WarehouseManagement">
                    <span data-feather="box" class="align-text-bottom"></span>
                    Warehouse management
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/InventoryManagement">
                    <span data-feather="clipboard" class="align-text-bottom"></span>
                    Inventory management
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/ProductionControl">
                    <span data-feather="tool" class="align-text-bottom"></span>
                    Production control
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/CostManagement">
                    <span data-feather="dollar-sign" class="align-text-bottom"></span>
                    Cost management
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/MasterPlanning">
                    <span data-feather="calendar" class="align-text-bottom"></span>
                    Master planning
                </NavLink>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Alerts Emails and Number Sequences</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <NavLink class="nav-link" href="/UnsentEmails">
                    <span data-feather="mail" class="align-text-bottom"></span>
                    Unsent Emails
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/DueNumberSequences">
                    <span data-feather="alert-circle" class="align-text-bottom"></span>
                    Due number sequences
                </NavLink>
            </li>
        </ul>
    </div>
</nav>